{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bibliography</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bibliography.id }}</td>
            </tr>
            <tr>
                <th>Bibid</th>
                <td>{{ bibliography.bibID }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ bibliography.userID }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ bibliography.author }}</td>
            </tr>
            <tr>
                <th>Yearpub</th>
                <td>{{ bibliography.yearPub }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ bibliography.title }}</td>
            </tr>
            <tr>
                <th>Chapter</th>
                <td>{{ bibliography.chapter }}</td>
            </tr>
            <tr>
                <th>Editor</th>
                <td>{{ bibliography.editor }}</td>
            </tr>
            <tr>
                <th>Edition</th>
                <td>{{ bibliography.edition }}</td>
            </tr>
            <tr>
                <th>Placepub</th>
                <td>{{ bibliography.placePub }}</td>
            </tr>
            <tr>
                <th>Publisher</th>
                <td>{{ bibliography.publisher }}</td>
            </tr>
            <tr>
                <th>Book</th>
                <td>{% if bibliography.book %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bibliography_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bibliography_edit', { 'id': bibliography.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
